@import "tailwindcss";
@plugin "daisyui" {
    themes: corporate --default, night --prefers-dark;
}
@source "./src/**/*.{rs,html,css}";
/* Fix to enable form input auto-focus */

@layer base {
    @font-face {
        font-family: 'circuit'; /* Choose a descriptive name */
        src: url('/fonts/circuit.ttf') format('truetype');
        font-weight: normal; /* Define weight if applicable */
        font-style: normal; /* Define style if applicable */
        font-display: swap; /* Optional: improve font loading experience */
    }
    @font-face {
        font-family: 'neospace'; /* Choose a descriptive name */
        src: url('/fonts/neospace.ttf') format('truetype');
        font-weight: normal; /* Define weight if applicable */
        font-style: normal; /* Define style if applicable */
        font-display: swap; /* Optional: improve font loading experience */
    }
    @font-face {
        font-family: 'garetha'; /* Choose a descriptive name */
        src: url('/fonts/garetha.ttf') format('truetype');
        font-weight: normal; /* Define weight if applicable */
        font-style: normal; /* Define style if applicable */
        font-display: swap; /* Optional: improve font loading experience */
    }
    @font-face {
        font-family: 'religions'; /* Choose a descriptive name */
        src: url('/fonts/religions.ttf') format('truetype');
        font-weight: normal; /* Define weight if applicable */
        font-style: normal; /* Define style if applicable */
        font-display: swap; /* Optional: improve font loading experience */
    }
    @font-face {
        font-family: 'roboto'; /* Choose a descriptive name */
        src: url('/fonts/roboto-regular.ttf') format('truetype');
        font-weight: normal; /* Define weight if applicable */
        font-style: normal; /* Define style if applicable */
        font-display: swap; /* Optional: improve font loading experience */
    }
}

@layer utilities {
    .modal {
        transition:
            translate 0.3s ease-out,
            background-color 0.3s ease-out,
            opacity 0.1s ease-out;
        @starting-style {
            &.modal-open,
            &[open],
            &:target {
                visibility: visible;
            }
        }
    }
}
@layer components {
    a[aria-current="page"] {
        @apply text-primary;
    }
    div.article {
        h1 {
            @apply card-title;
        }
        ul {
            @apply list-disc pl-5;
        }
        p {
            @apply pt-3 text-base;
        }
        a {
            @apply text-primary;
        }
    }
}

@theme {
    --font-sans: roboto, ui-sans-serif, system-ui, sans-serif;
}
