@import "tailwindcss";
@plugin "daisyui" {
    themes: lofi --default, night --prefers-dark;
}
@source "./src/**/*.{rs,html,css}";
/* Fix to enable form input auto-focus */
@layer utilities {
    .modal {
        transition:
                translate 0.3s ease-out,
                background-color 0.3s ease-out,
                opacity 0.1s ease-out;
        @starting-style {
            &.modal-open,
            &[open],
            &:target {
                visibility: visible;
            }
        }
    }
}